body {
    margin-bottom: 175px;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.messenger-container {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    height: 155px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 1030;
}